@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Create";
}

<h4>Post by <code>@User.Identity?.Name</code></h4>
<hr />
<div class="row">
    <div class="col-md-1"></div>
    </div>
<div class="row">
    <div class="col-md-10">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Role ID</label>
                <input type="text" placeholder="Type your Name" class="form-control">
            </div>
            <div class="form-group">
                <label class="control-label" >Name</label>
                <input type="text" placeholder="Type your Name" class="form-control">
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    </div>

<div>
    <a asp-action="ListRoles">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
