<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ContactInfo</title>
        <link rel="icon" href="static/logo.svg">
        <link rel="stylesheet" href="static/color_contact.css">
    </head>
    <body>
        <h1 id="change">Please provide your Personal information for contacting Me</h1>
        <main id="div1">
            <form>
                <div>
                    <label id="div2">FirstName: </label>
                    <input type="text" id="l1" name="nm">
                </div>
                <div>
                    <p>    </p>
                </div>
                <div>
                    <label id="div3">LastName:</label>
                    <input type="text" id="l2">
                </div>
                <div>
                    <p>    </p>
                </div>
                <div>
                    <label id="div4">Gender:  </label>
                    <label id="div5">Male </label>
                    <input type="radio" name="l3">
                    <label id="div5">Female </label>
                    <input type="radio" name="l3">
                    <label id="div5">Other </label>
                    <input type="radio" name="l3">
                </div>
                <div>
                    <p>    </p>
                </div>
                <div>
                    <label id="div4">DOB: </label>
                    <select>
                        <option selected disabled>Year</option>
                        <option>2022</option>
                        <option>2021</option>
                        <option>2020</option>
                        <option>2019</option>
                        <option>2018</option>
                        <option>2017</option>
                        <option>2016</option>
                        <option>2015</option>
                        <option>2014</option>
                        <option>2013</option>
                        <option>2012</option>
                        <option>2011</option>
                        <option>2010</option>
                        <option>2009</option>
                        <option>2008</option>
                        <option>2007</option>
                        <option>2006</option>
                        <option>2005</option>
                        <option>2004</option>
                        <option>2003</option>
                        <option>2002</option>
                        <option>2001</option>
                        <option>2000</option>
                        <option>1999</option>
                        <option>1998</option>
                        <option>1997</option>
                    </select>
                    <select>
                        <option selected disabled>Month</option>
                        <option>January</option>
                        <option>February</option>
                        <option>March</option>
                        <option>April</option>
                        <option>May</option>
                        <option>June</option>
                        <option>July</option>
                        <option>August</option>
                        <option>September</option>
                        <option>October</option>
                        <option>November</option>
                        <option>December</option>
                    </select>
                    <select>
                        <option selected disabled>Day</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                        <option>16</option>
                        <option>17</option>
                        <option>18</option>
                        <option>19</option>
                        <option>20</option>
                        <option>21</option>
                        <option>22</option>
                        <option>23</option>
                        <option>24</option>
                        <option>25</option>
                        <option>26</option>
                        <option>27</option>
                        <option>28</option>
                        <option>29</option>
                        <option>30</option>
                        <option>31</option>
                    </select>
                </div>
                <div>
                    <p>    </p>
                </div>
                <div>
                    <label id="div6">Comments:</label>
                    <textarea name="reply" id="l3"></textarea>
                </div>
                <div>
                    <button id="div7">Submit</button>
                </div>
            </form>
            <div>
                <a class="return" href="/" ><strong><u>Return Home</u></strong>----></a>
            </div>
        </main>
        <footer id="bottom">
            <section class="turn">
            <div>
                <p>Address: </p>
                <p>9530 123 Ave, Metrotown |  7786838677</p>
            </div>
            <div>
                <p>Email: choudharymohit195@gmail.com</p>
            </div>
            </section>
        </footer>


    </body>
</html>
