<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My portal</title>
        <link class="title_icon" rel="icon" href="static/logo.svg">
        <link class="css" rel="stylesheet" href="static/color.css">
    </head>
    <body>
        
        <header class="line">
            <a class="a4" id="b"  href="/display.html">Home</a>
            <a class="a5" id="b"  href="/ContactMe.html">Contact Me</a>
        </header>
        <main class="enter">
        <h1 class="head"><strong>WELCOME!!! TO THE POWER OF COMPUTER SCIENCE</strong></h1>
        <h2 class="head1"><i>My Own Website Build To Know Me</i></h2>
        <blockquote id="comment">
        <i>
            my name is Mohit choudhary and here you can find my whole portfolio.<br> 
            my passions, history, city i visited, hobbies and many more.  
        </i>
        </blockquote>
        <button id="b1"><a class="link" href="https://www.google.com" ><string>About Me</string></a></button>
        <button id="b2"><a class="link1" href="https://www.google.com" ><string>Contact Me</string></a></button>
        </main>
        <script src="static/web.js"></script>
    </body>

</html>