@{
    ViewData["Title"] = "FDU Forum";
}
<hr />
<div class="card">
    <div class="card-title bg-primary text-center text-white" id="size">
        FDU Vancouver Forum Etiquette
    </div>
    <div class="card-body">
        <ul id="size_1">
            <li>Laren ipsum dolor sit amet, consectetur adipiscing elit</li>
            <li>Vestibulum justo sem, dapibus vitae velit in, vehicula luctus sapien</li>
            <li>Nulla porta turpis malesuada, sagittis ligula vel, consequat mauris</li>
            <li>Fusce interdum quam inperdiet placerat lobortis</li>
            <li>Phasellus facilisis efficitur fermentum</li>
            <li>In pellentesque dui eget aliquam mattis</li>
            <li>Nulla nisi dolor, volutpat non hendrerit id, dignissim et mauris</li>
            <li>Aliquam lacinia enim a lectus ultricies auctor</li>
        </ul>
        <p id="bottom"><strong>--FDU Forum</strong> </p>

    </div>
</div>

        
